@charset "utf-8";
/* CSS Document */

#content {
    text-align: center;
}
#texto {
    position: static;
    text-align: center;
    background-color: #C3A3FF;
}
#menufijo {
    width: 45%;
    position: fixed;
    margin-left: 30%;
    background-color: #000000;
}
